absl-py==2.0.0
chex==0.1.84
click==8.1.7+computecanada
clu==0.0.9
contextlib2==21.6.0+computecanada
dm_tree==0.1.8+computecanada
etils==1.5.0
filelock==3.12.4+computecanada
flax==0.7.5
fsspec==2023.9.2+computecanada
h5py==3.8.0+computecanada
importlib-resources==6.1.0
jax==0.4.20
jaxlib==0.4.19+cuda11.cudnn86.computecanada
-e git+ssh://git@github.com/google-research/jaxpruner.git@4a6f4e8ebf8432a994792506ec9a29bac2059089#egg=jaxpruner
Jinja2==3.1.2+computecanada
joblib==1.3.2+computecanada
llvmlite==0.41.0+computecanada
markdown_it_py==3.0.0+computecanada
MarkupSafe==2.1.3+computecanada
mdurl==0.1.2+computecanada
ml_collections==0.1.1+computecanada
ml_dtypes==0.2.0+computecanada
mpmath==1.3.0+computecanada
msgpack==1.0.4+computecanada
nest_asyncio==1.5.8+computecanada
networkx==3.2.1+computecanada
numba==0.58.0+computecanada
numpy==1.25.2+computecanada
opt_einsum==3.3.0+computecanada
optax==0.1.7
orbax-checkpoint==0.4.2
packaging==23.2+computecanada
pandas==2.1.0+computecanada
protobuf==4.25.0
PyExpUtils @ git+ssh://git@github.com/andnp/PyExpUtils@2.18#egg=PyExpUtils
Pygments==2.16.1+computecanada
python-dateutil==2.8.2+computecanada
pytz==2023.3.post1+computecanada
PyYAML==6.0.1+computecanada
rich==13.6.0
scikit_learn==1.3.0+computecanada
scipy==1.11.2+computecanada
six==1.16.0+computecanada
sympy==1.12+computecanada
tensorstore==0.1.36+computecanada
threadpoolctl==3.2.0+computecanada
toolz==0.12.0+computecanada
torch==2.0.1+computecanada
tqdm==4.66.1+computecanada
typing_extensions==4.8.0
tzdata==2023.3+computecanada
wrapt==1.15.0+computecanada
zipp==3.17.0
